@font-face {
    font-family: 'windsor_mt_stdregular';
    src: url('windsormtstd-webfont.woff2') format('woff2'),
         url('windsormtstd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
  background-color: rgb(252, 248, 239);	
  color: #fff;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}



.menu{
  position: relative;
  display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: none;
    padding: 10px;
    z-index: 1;
}

.menu:hover .menu-content {
    display: block;
  }

p:hover {
    color:rgb(27, 252, 54);
    padding:20px;
  }

.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

svg {
  display: block;
}

.logo {
  fill: #fff;
}

p{
  color:rgb(38, 118, 145);
  font-family: 'windsor_mt_stdregular';
  padding: 20px;
  font-size: 30px;
  margin:0px;
}


.stripes {
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(31, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: row;
  position: fixed;
  bottom: 0px;
  top: 25%;
  
}

.box {
  width: 100px;
  height: 100px;
  background: rgba(243, 121, 247,0.5);
  border-radius: 0px;
  padding:20px;
  font-size: 30px;
}

.box:nth-child(even){
  background: rgba(229, 203, 4,1);
}


