


body{
    background: linear-gradient(to bottom right, white, grey);

}



h2 {
  text-align: center;
  color: rgba(255,255,255,0.7);
}

.font{
	color: rgba(255,255,255,0.7);
	font-family: 'IM Fell English', serif;
	text-align: center;
}


.image{
	margin-top: 5px;
}