body {
  position: relative;
  margin: auto;
  padding-top: 0;
  height: 600px;

}

.block{
  position: fixed;
  text-align: center;
  width: 100%;
}

.block1 {
  background-size: 120%;
  z-index: 5;
  text-align: center;
}

.fork {
  position: relative;
  z-index: 150; 

}

.pasta{
  position: fixed;
  z-index: 50;  
  margin-top: 0px;
}

.meatball1{
  position: fixed;
  z-index: 110; 
  margin-top: 10px;

  }

.meatball2{
  position: fixed;
  z-index: 100; 
  margin-top: 120px;
  }

  .meatball3{
  position: fixed;
  z-index: 100; 
  margin-top: 200px;
  }

   .broc{
  position: fixed;
  z-index: 140; 
  margin-top: 130px;
  }

    .salad{
  position: fixed;
  z-index: 140; 
  margin-top: 130px;
  }

  p{
    font-family: "helvetica";
    float: right;
    padding: 50px;
    color: green;
  }